<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
			<remove fileExtension=".glb" />
            <mimeMap fileExtension=".glb" mimeType="model/gltf-binary" />
        </staticContent>
        <httpCompression>
            <staticTypes>
                <add mimeType="model/gltf-binary" enabled="true" />
            </staticTypes>
            <dynamicTypes>
                <add mimeType="model/gltf-binary" enabled="true" />
            </dynamicTypes>
        </httpCompression>
    </system.webServer>
</configuration>
